// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gotoclass img {
  display: block;
  max-width:275px;
  width: auto;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.gotoclass {
    max-width: 1200px;
}

.sidebar-brand h3 {
  color: #a3a3c2;
}

dd img {
  width: 42%; /* jackie robinson */
  height: auto;
}